/*Color Scheme:
    #FFF9C9 brighter neonish-feel cream
    #86280D dark red brown
    #B5C99A green
    #F4F1E3 cream
    #FFC95F yellow
    #d07e6a light pastel reddish
*/

/*Fonts:
    font-family: 'Raleway', sans-serif;
    font-family: 'Rokkitt', serif; 
*/

/*
Left off on project formatting, 
- add design tweaks where needed maybe play with border radius, sizing, gaps, etc. in projects section - done
- add links to projects - done
- rewrite the hero wording - done
- lift the svgs higher especially the green blob - done
- look into doing the javascript (may need to review) - done
- contact page
- spell and grammar check at the end
*/

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(336deg, #B5C99A, #F4F1E3 70.71%);
}

main {
    display: flex;
    flex-direction: column;
}

.background-container1 {
    background-image: url('../SVG/yellow_blob.svg'), url('../SVG/green_blob.svg'), url('../SVG/brown-blob.svg');
    background-position: top, center, bottom;
    background-repeat: no-repeat, no-repeat, no-repeat;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

/* Navigation Bar */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 16.625rem;
    flex-wrap: wrap;
    padding-top: 2rem;
    background-color: #B5C99A;
    padding: 0;
    height: 4rem;
}

#home-link {
    text-decoration: none;
    color: black;
}

.nav-links {
    display: flex;
    padding: 1rem;
    list-style-type: none;
}

.nav-links a {
    padding: 0 1rem;
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
}

.nav-links a:hover {
    text-decoration: underline;
}

.name {
    padding: 0 1rem;
    font-family: 'Rokkitt', serif;
    font-size: 2rem;
    font-weight: 300;
}

/*Hero Banner*/

.hero {
    display: flex;
    height: 30rem;
    width: 60rem;
    margin-top: 2rem;
    align-items: center;
    justify-content: space-evenly;
    align-self: center;
    background-color: #d07e6a;
    border: 1px solid black;
    border-radius: 29% 91% 40% 77% / 46% 73% 55% 81%;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding-top: 5rem;
    font-family: 'Rokkitt', serif;
}

.hero-img-crop {
    height: 15rem;
    width: auto;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid black;
}

.hero-img {
    display: block;
    height: 20rem;
    width: auto;
    object-fit: cover;
    transform-origin: 52% 80%;
    transform: scale(2.5);
}

@media only screen and (max-width: 961px) and (min-width: 768px) {
    .hero {
        height: 20rem;
        width: 40rem;
    }

    .hero-img-crop {
        height: 10rem;
        margin-top: 2.6rem;
    }

    .hero-img {
        height: 10rem;
        width: 10rem;
    }

    .hero-content {
        padding-top: 0;
        padding-left: 1.4rem;
    }

    .hero-content p {
        width: 24rem;
    }
}

/*About Me*/

.about {
    display: flex;
    height: 24rem;
    width: 100%;
    justify-content: center;
    align-items: start;
    margin-top: 2rem;
}

.about-h2-div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    height: 6rem;
    width: 20rem;
    background-color: #d07e6a;
    border-radius: 29% 91% 40% 77% / 46% 73% 55% 81%;
    border: 1px solid black;
}

.about h2 {
    font-family: 'Raleway', sans-serif;
}

.about p {
    width: 30rem;
    padding: 3rem 0 0 3rem;
    font-family: 'Rokkitt', serif;
}

.about-content {
    display: flex;
    flex-direction: row;
    align-items: start;
}

@media only screen and (max-width: 961px) and (min-width: 768px) {
    .about {
        align-items: center;
        height: 26rem;
        margin-top: 3.5rem;
    }

    .about-content {
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
    }

    .about-h2-div {
        align-self: center;
    }

    .about p {
        padding: 0;
    }
}

/*Projects*/

.projects {
    display: grid;
    grid-template: 6rem repeat(4, 18.05rem) / 45rem;
    grid-template-areas: "h2"
        "project"
        "project"
        "project"
        "project";
    grid-gap: 2.75rem;
    width: 100%;
    height: auto;
    padding: 1.875rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.projects-h2-div {
    display: flex;
    grid-area: h2;
    height: 6rem;
    width: 20rem;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    background-color: #d07e6a;
    border-radius: 29% 91% 40% 77% / 46% 73% 55% 81%;
    border: 1px solid black;
}

.projects h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.project-card {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    background-color: #F4F1E3;
    border-radius: 0.625rem;
}

.project-card h5 {
    font-family: 'Rokkitt', serif;
    font-size: 1.5rem;
}

.project-card p {
    font-family: 'Raleway', sans-serif;
}

.project-card a {
    display: contents;
}

.role {
    font-weight: lighter;
    font-style: italic;
}

.project-card ul {
    padding-left: 3rem;
    font-family: 'Raleway', sans-serif;
}

.project-card img {
    height: 100%;
    width: 50%;
}

.img-left {
    border-radius: 0.625rem 0 0 0.625rem;
}

.img-right {
    border-radius: 0 0.625rem 0.625rem 0;
}

.project-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: start;
}

@media only screen and (max-width: 961px) and (min-width: 768px) {
    .projects {
        grid-template: 6rem repeat(4, 15rem) / 37.39rem;
        grid-template-areas:
            "h2"
            "project"
            "project"
            "project"
            "project";
        gap: 1.6rem;
    }

    .project-card h5 {
        font-size: 1.4rem;
    }

    .project-card p {
        font-size: .92rem;
    }

    .project-card ul {
        font-size: .92rem;
    }

}

/*Skills*/

.skills {
    display: flex;
    flex-direction: column;
    padding: 1.875rem;
    width: auto;
    height: 22rem;
    margin-top: 2rem;
}

.skills-h2-div {
    display: flex;
    height: 6rem;
    width: 20rem;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    background-color: #d07e6a;
    border-radius: 29% 91% 40% 77% / 46% 73% 55% 81%;
    border: 1px solid black;
}

.skills h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.skills-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2.5rem;
    height: 9rem;
}

.skills-img {
    height: 5rem;
    width: auto;
}

.css-img {
    width: 4.3rem;
    height: 6rem;
    margin-bottom: 1.1rem;
}

@media only screen and (max-width: 961px) and (min-width: 768px) {

    .skills {
        height: 26rem;
    }

    .skills-container {
        flex-wrap: wrap;
        height: 13rem;
    }

    .skills-img {
        margin: 0 2rem 0 2rem;
    }

    .git-hub-img {
        margin: 0;
    }
}

/*Magic 8 Ball Portion*/

.magic-8-ball {
    height: 38rem;
    margin: 2rem;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.magic-h3-div {
    display: flex;
    height: 10rem;
    width: 50rem;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    background-color: #FFF9C9;
    border-radius: 29% 91% 40% 77% / 46% 73% 55% 81%;
    border: 1px solid black;
    margin: 1rem;
}

.magic-8-ball h3 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    color: #505050;
    line-height: 3rem;
    word-spacing: .5rem;
}

.magic-8-ball h3 span {
    font-weight: 400;
    word-spacing: 0rem;
    font-style: italic;
}

#click-here {
    width: 10rem;
    height: 4rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: #FFF9C9;
    font-family: 'Rokkitt', serif;
    margin: 2rem;
    font-size: 1.4rem;
}

#click-here:hover {
    background-color: #B5C99A;
}

#click-here:active {
    background-color: #93a182;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transform: translateY(4px);
}

#answer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 15px;
    height: 6rem;
    width: 15rem;
    background-color: #FFF9C9;
    text-align: center;
}

.contact-button {
    display: flex;
    height: 4rem;
    width: 14rem;
    margin-top: 5rem;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: #d07e6a;
    cursor: pointer;
}

.contact-button:active {
    background-color: #b46e5d;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transform: translateY(4px);
}

.magic-8-ball a {
    text-decoration: none;
}

.contact {
    color: black;
    font-family: 'Rokkitt', serif;
    font-size: 1.5rem;
}

@media only screen and (max-width: 961px) and (min-width: 768px) {

    .magic-h3-div {
        height: 8rem;
        width: 40rem;
    }

    .magic-8-ball h3 {
        font-size: 1.8rem;
        word-spacing: 0.4rem;
    }
}

/*Footer*/

footer {
    display: flex;
    padding: 1rem;
    justify-content: left;
    font-size: 1.3rem;
    font-family: 'Rokkitt', serif;
}