/*Color Scheme:
    #FFF9C9
    #86280D
    #B5C99A
    #F4F1E3
    #FFC95F
*/

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;   
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&family=Raleway:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');
}

.container {
    display: flex;
    flex-direction: column;
}

/* Navigation Bar */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 16.625rem;
    flex-wrap: wrap;
    padding-top: 2rem;
    background-color: #F4F1E3;
    padding: 0;
    height: 4rem;
}

.nav-links {
    display: flex;
    padding: 1rem;
    list-style-type: none;
}

.nav-links a {
    padding: 0 1rem;
    text-decoration: none;
    color: black;
}

.name {
    padding: 0 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: italic;
}

/*Hero Banner*/

.hero {
    display: flex;
    height: 18.75rem;
    align-items: center;
    justify-content: center;
}

.hero-content {
    display: flex;
    flex-direction: column; /* Arrange items in a row */
    justify-content: space-between; /* Space between writing and image */
    align-items: left;
}

.hero-img-crop {
    height: 15rem;
    width: auto; 
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.hero-img {
    display: block;
    height: 20rem;
    width: auto;
    object-fit: cover;
    transform-origin: 52% 80%;
    transform: scale(2.5);
    
}

/*About Me*/

.about {
    display: flex;
    height: 18.75rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-content {
    width: 40rem;
    text-align: center;
}

/*Projects*/

.projects {
    display: grid;
    grid-template: repeat(5, 7.25rem) / 15.625rem;
    grid-template-areas: "h2"
        "project"
        "project"
        "project"
        "project";
    grid-gap: 1rem;
    width: 100%;
    height: auto;
    padding: 1.875rem;
    justify-content: center;
    align-items: center;
}

.projects h2 {
    grid-area: h2;
    text-align: center;
}

.project-card {
    display: flex;
    flex-direction: row;
    justify-items: center;
    padding: 1rem;
}

.project-card img {
    height: 1rem;
    width: 1rem;
}

.project-card div {
    display: flex;
    flex-direction: column;
}

/*Skills*/

.skills {
    width: auto;
    height: 9rem;
}

.skills h2 {
    text-align: center;

}

.skills-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.skills-img{
    height: 1rem;
    width: auto;
}

/*Magic 8 Ball Portion*/

.magic-8-ball {
    height: 9rem;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.magic-8-ball p {
    text-align: center;
}

.magic-8-ball button {
    width: 5rem;
}

.answer {
    background-color: #FFF9C9;
    height: 50%;
    width: 9rem;
}

/*Footer*/

footer {
    display: flex;
    padding: 1rem;
    justify-content: left;
    font-size: .75rem;
    background-color: #B39878;
}