/*Color Scheme:
    #FFF9C9 brighter neonish-feel cream
    #86280D dark red brown
    #B5C99A green
    #F4F1E3 cream
    #FFC95F yellow
    #d07e6a light pastel reddish
*/

/*Fonts:
    font-family: 'Raleway', sans-serif;
    font-family: 'Rokkitt', serif; 
*/

/*
Left off on project formatting, 
- add design tweaks where needed maybe play with border radius, sizing, gaps, etc. in projects section - done
- add links to projects --> add to title of projects, when adding to image it shifts the size, while preferable up to you if u want to figure it out later
-- https://ritabobita.github.io/Tea-Cozy/ //  https://github.com/ritabobita/The-Fiscal-Code // https://ritabobita.github.io/Ritka-Iteration-1/ // https://ritabobita.github.io/Ceramics-Club/ 
- rewrite the hero wording - done
- lift the svgs higher especially the green blob - done
- look into doing the javascript (may need to review)
- contact page
*/

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(336deg, #B5C99A, #F4F1E3 70.71%);
}

main {
    display: flex;
    flex-direction: column;
}

.background-container1 {
    background-image: url('/Users/ritarosiek/Projects/Portfolio_Project/SVG/yellow_blob.svg'), url('/Users/ritarosiek/Projects/Portfolio_Project/SVG/green_blob.svg'), url('/Users/ritarosiek/Projects/Portfolio_Project/SVG/brown-blob.svg');
    background-position: top, center, bottom;
    background-repeat: no-repeat, no-repeat, no-repeat;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

/* Navigation Bar */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 16.625rem;
    flex-wrap: wrap;
    padding-top: 2rem;
    background-color: #B5C99A;
    padding: 0;
    height: 4rem;
}

.nav-links {
    display: flex;
    padding: 1rem;
    list-style-type: none;
}

.nav-links a {
    padding: 0 1rem;
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
}

.name {
    padding: 0 1rem;
    font-family: 'Rokkitt', serif;
    font-size: 2rem;
    font-weight: 300;
}

/*Hero Banner*/

.hero {
    display: flex;
    height: 30rem;
    width: 60rem;
    margin-top: 2rem;
    align-items: center;
    justify-content: space-evenly;
    align-self: center;
    background-color: #d07e6a;
    border: 1px solid black;
    border-radius: 29% 91% 40% 77% / 46% 73% 55% 81%;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding-top: 5rem;
    font-family: 'Rokkitt', serif;
}

.hero-img-crop {
    height: 15rem;
    width: auto;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid black;
}

.hero-img {
    display: block;
    height: 20rem;
    width: auto;
    object-fit: cover;
    transform-origin: 52% 80%;
    transform: scale(2.5);
}

/*About Me*/

.about {
    display: flex;
    height: 24rem;
    width: 100%;
    justify-content: center;
    align-items: start;
    margin-top: 2rem;
}

.about-h2-div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    height: 6rem;
    width: 20rem;
    background-color: #d07e6a;
    border-radius: 29% 91% 40% 77% / 46% 73% 55% 81%;
    border: 1px solid black;
}

.about h2 {
    font-family: 'Raleway', sans-serif;
}

.about p {
    width: 30rem;
    padding: 3rem 0 0 3rem;
    font-family: 'Rokkitt', serif;
}

.about-content {
    display: flex;
    flex-direction: row;
    align-items: start;
}

/*Projects*/

.projects {
    display: grid;
    grid-template: 6rem repeat(4, 18.05rem) / 45rem;
    grid-template-areas: "h2"
        "project"
        "project"
        "project"
        "project";
    grid-gap: 2.75rem;
    width: 100%;
    height: auto;
    padding: 1.875rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.projects-h2-div {
    display: flex;
    grid-area: h2;
    height: 6rem;
    width: 20rem;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    background-color: #d07e6a;
    border-radius: 29% 91% 40% 77% / 46% 73% 55% 81%;
    border: 1px solid black;
}

.projects h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.project-card {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    background-color: #F4F1E3;
    border-radius: 0.625rem;
}

.project-card h5 {
    font-family: 'Rokkitt', serif;
    font-size: 1.5rem;
}

.project-card p {
    font-family: 'Raleway', sans-serif;
}

.role {
    font-weight: lighter;
    font-style: italic;
}

.project-card ul {
    padding-left: 3rem;
    font-family: 'Raleway', sans-serif;
}

.project-card img {
    height: 100%;
    width: 50%;
}

.img-left {
    border-radius: 0.625rem 0 0 0.625rem;
}

.img-right {
    border-radius: 0 0.625rem 0.625rem 0;
}

.project-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: start;
}

/*Skills*/

.skills {
    display: flex;
    flex-direction: column;
    padding: 1.875rem;
    width: auto;
    height: 20rem;
    margin-top: 2rem;
}

.skills-h2-div {
    display: flex;
    height: 6rem;
    width: 20rem;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    background-color: #d07e6a;
    border-radius: 29% 91% 40% 77% / 46% 73% 55% 81%;
    border: 1px solid black;
}

.skills h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.skills-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2.5rem;
    height: 9rem;
}

.skills-img {
    height: 5rem;
    width: auto;
}

.css-img {
    width: 4.3rem;
    height: 6rem;
    margin-bottom: 1.1rem;
}

/*Magic 8 Ball Portion*/

.magic-8-ball {
    height: 20rem;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.magic-h3-div {
    display: flex;
    height: 6rem;
    width: 30rem;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    background-color: #FFF9C9;
    border-radius: 29% 91% 40% 77% / 46% 73% 55% 81%;
    border: 1px solid black;
    margin:1rem;
}

.magic-8-ball h3 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.magic-8-ball button {
    width: 6rem;
    height: 2rem;
    margin: 0 1rem 1rem 1rem;
}

.answer {
    background-color: #FFF9C9;
    height: 25%;
    width: 15rem;
}

/*Footer*/

footer {
    display: flex;
    padding: 1rem;
    justify-content: left;
    font-size: 1rem;
    font-family: 'Rokkitt', serif; 
}